.wizard a {
    padding: 20px 12px 20px;
    position: relative;
    text-decoration: none;
    width: 25%;
    margin-left: 0.25%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.gray {
    background: #f5f4f4;
    color: #707070;
}

.yellow {
  color: white;
  background: #FEC901;
}

.disabled {
  background: #f5f4f4;
  color: #707070;
  opacity: 40%;
  pointer-events: none;
}

.wizard:not(.left-arrow) .gray:after {
    border-left: 32px solid #f5f4f4;
}


.wizard:not(.left-arrow) .yellow:after {
    border-left: 32px solid #FEC901;
}

.wizard a:hover {
  text-decoration: none;
}

.wizard a:first-child {
  margin-left: 0;
}

.wizard:not(.left-arrow) a:before {
width: 0;
height: 0;
border-top: 39px inset transparent;
border-bottom: 39px inset transparent;
border-left: 32px solid #FFFFFF;
position: absolute;
content: "";
top: 0;
left: 0;
}

.wizard:not(.left-arrow) a:after {
  width: 0;
  height: 0;
  border-top: 39px inset transparent;
  border-bottom: 39px inset transparent;
  position: absolute;
  content: "";
  top: 0;
  right: -30px;
  z-index: 2;
}


.wizard a:first-child:before,
.wizard a:last-child:after {
  border: none;
}
