<div class="flex px-20 py-10 bg-tertiary-light cursor-default">
    <img src="./assets/logo-img.png" alt="logo img" class="w-3/12 object-cover shadow-lg mr-28"/>
    <div class="flex flex-col gap-16 w-9/12">
        <div class="flex justify-evenly w-full">
            <p class="text-4xl font-semibold">Contact</p>
            <p class="text-4xl font-semibold">Careers</p>
        </div>
        <div class="flex flex-col gap-y-8">                
            <app-label text="Bulevar Oslobodjenja 23" icon='./assets/icons/pin.png'></app-label>
            <app-label text="timraketa9@gmail.com" icon='./assets/icons/email.png'></app-label>
            <app-label text="+381654851249" icon='./assets/icons/phone.png'></app-label>
        </div>

        <div class="flex gap-10 ml-10">
            <icon path="./assets/icons/facebook.png"></icon>
            <icon path="./assets/icons/google.png"></icon>               
            <icon path="./assets/icons/linkedin.png"></icon>
        </div>
    </div>
</div>
