<div class="bg-tertiary-light rounded-xl flex flex-col items-center gap-2 p-8 pb-14 shadow-2xl">
    <svg class="w-12 h-12" fill="none" stroke="#FBBC02" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
    <h2 class="font-semibold text-2xl mb-5">{{city}}</h2>
    <p class="text-justify tracking-wider text-lg" >{{text}}</p>
</div>
