<div id="default-carousel" class="flex flex-grow" data-carousel="slide">
  <div class="relative h-[89vh] overflow-hidden w-full">

    <div class="carousel-slide translate-x-0 z-20" data-carousel-item="">
            <span class="slide-content">
                <p class="font-semibold text-white ml-3 text-2xl">Welcome to the</p>
                <h1 class="text-5xl md:text-6xl lg:text-9xl font-bold text-white">ROCKET TRANSPORT</h1>
                <p class="text-lg md:text-xl lg:text-2xl font-light text-tertiary-light ml-2 mt-5">
                    Taxi service that is always there for You
                </p>
            </span>
      <img src="./assets/banner0.jpg" class="banner absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
           alt="...">
    </div>

    <div class="carousel-slide translate-x-full z-10" data-carousel-item="">
            <span class="slide-content">
                <p class="font-semibold text-white ml-3">Set your own schedule</p>
                <h1 class="text-2xl md:text-4xl lg:text-8xl font-bold text-white">
                    Get in the driver’s seat and get paid
                </h1>
                <p class="text-lg md:text-xl lg:text-2xl font-light text-tertiary-light ml-2 mt-5">
                    Drive on the platform with the largest network of active riders.
                </p>
            </span>
      <img src="./assets/banner1.jpg" class="banner absolute block  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
           alt="...">
    </div>

    <div class="carousel-slide -translate-x-full z-10" data-carousel-item="">
            <span class="slide-content">
                <p class="font-semibold text-white ml-3"> 24/7 Online Taxi Booking Service</p>
                <div class="flex flex-col">
                    <h1 class="text-2xl md:text-4xl lg:text-8xl font-bold text-white">
                        Get Best Online
                    </h1>
                    <h1 class="text-2xl md:text-4xl lg:text-8xl font-bold text-white">
                        Taxi Service for you
                    </h1>
                </div>
                <p class="text-lg md:text-xl lg:text-2xl font-light text-tertiary-light ml-2 mt-5">
                    Trusted & Cheapest Taxi Service
                </p>
            </span>
      <img src="./assets/banner7.jpg" class="banner absolute block  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
           alt="...">
    </div>
  </div>

  <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-10 left-1/2">
    <button type="button" class="w-3 h-3 rounded-full bg-white " aria-current="true" aria-label="Slide 1"
            data-carousel-slide-to="0"></button>
    <button type="button" class="w-3 h-3 rounded-full bg-white/50  hover:bg-white " aria-current="false"
            aria-label="Slide 2" data-carousel-slide-to="1"></button>
    <button type="button" class="w-3 h-3 rounded-full bg-white/50  hover:bg-white " aria-current="false"
            aria-label="Slide 3" data-carousel-slide-to="2"></button>
  </div>

</div>
