<div *ngIf="open" class="modal !w-3/5">
  <div class="modal-container w-full">
    <button type="button" (click)="closeFunc()" class="modal-close-button">
      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd">
        </path>
      </svg>
    </button>

    <div class="flex">

      <div class="bg-secondary-dark w-1/4">
        <!--TODO: Add route-->
      </div>

      <div class="py-6 px-6 lg:px-8 w-3/4">
        <h3 class="mb-4 text-xl font-medium text-gray-900 text-center w-full">Detailed view</h3>

        <div class="flex items-center">
          <img alt="profile-image" class="ml-3 w-20 h-20 rounded-full"
               [src]="ride.driverProfileImage || 'assets/profile-placeholder.png'"/>
          <app-info [title]="'Driver'" [info]="ride.driver"></app-info>
          <app-info class="ml-auto" [title]="'Price'" [info]="ride.price.toString() + ' din'"></app-info>
          <app-info [title]="'Duration'" [info]="ride.duration.toString()  + ' min'"></app-info>
          <icon-button-secondary class="mr-2" (click)="addFavorite(ride.id)"
                                 [path]="'assets/icons/favorite.png'"></icon-button-secondary>
          <icon-button-secondary class="mr-2"
                                 [path]="'assets/icons/book.png'" (click)="book(ride.id)"></icon-button-secondary>
        </div>
        <div class="flex flex-column items-center">
          <h5 class="mb-4 font-small text-gray-900 text-center w-full">Passengers</h5>
          <p *ngFor="let passenger of ride.passengers">
            {{passenger}}
          </p>
        </div>
        <div class="flex items-center">
          <app-info [title]="'Start'" [info]="ride.start"></app-info>
          <app-info [title]="'End'" [info]="ride.end"></app-info>
        </div>

        <div class="w-full pt-1">
          <hr class="min-w-full">
        </div>

        <div>
          <div class="flex items-bottom">
            <p class="font-bold text-xl m-3">Reviews</p>
            <div class="flex items-center mb-5 mt-3">
              <star *ngFor="let number of numbers" [rating]="ride.rating" [number]="number" size="large"></star>
            </div>
          </div>
          <div class="flex items-center">
            <div *ngFor="let review of ride.reviews"
                 class="review-card m-2 w-1/2 p-3 pl-6 bg-tertiary-light rounded-md">
              <div class="flex items-center">
                <img alt="profile-image" class="w-14 h-14 rounded-full"
                     [src]="review.reviewerProfileImage  || 'assets/profile-placeholder.png'"/>
                <app-info [title]="'Passenger'" [info]="review.reviewer"></app-info>
              </div>
              <p>
                {{review.text}}
              </p>
              <div class="flex items-bottom">
                <div class="flex items-center mb-5 mt-3">

                  <star *ngFor="let number of numbers" [rating]="ride.rating" [number]="number" size="small"></star>

                </div>
              </div>
            </div>
            <icon-button-secondary *ngIf="isAbleToAddReview()" (click)="toggleOpenReview()" [path]="'assets/icons/plus.png'"></icon-button-secondary>

            <review [open]="openReview" [rideId]="ride.id" [closeFunc]="toggleOpenReview"></review>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div *ngIf="open" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

