<div>
  <div class="table-container">
    <table class="table">
      <thead class="header">
      <tr>
        <th *ngFor="let header of headers" scope="col" class="header-row">
          {{header.toString()[0].toUpperCase() + header.toString().slice(1)}}
        </th>
        <th scope="col" class="py-3 px-6"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rideHistory" class="row">
        <td class="data">{{item.start}}</td>
        <td class="data">{{item.end}}</td>
        <td class="data">{{item.driver}}</td>
        <td class="data">{{item.duration}}</td>
        <td class="data">{{item.price}}</td>
        <td>
          <secondary-button class="text-xs" [text]="'VIEW MORE'" (click)="toggleDetailedRoute()"></secondary-button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="flex mt-3">
    <div class="mx-auto">
      <pagination [(currentPage)]="currentPage" [numberOfPages]="numberOfPages"></pagination>
    </div>
  </div>

  <app-detailed-route [open]="openDetailedRoute" [closeFunc]="toggleDetailedRoute"></app-detailed-route>

</div>
