[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    margin-top: -32px;
    margin-left: -48px;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;  
    width: fit-content;  
}

[data-tooltip]:hover:before {
    @apply opacity-100 -mt-8 -ml-12 bg-tertiary-light text-secondary-light absolute text-xs   
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}