<div class="user-card">

  <div class="user-image-container"  [ngClass]="{'active': user.status==='active', 'inactive': user.status==='inactive'}">
    <img class="user-image" src="{{user.profilePicture}}" alt="">
  </div>

  <div class="user-card-info">
    <p class="mb-2 text-xl font-bold text-xl tracking-tight text-secondary-dark">{{user.firstName + " " + user.lastName}}</p>
    <p class="mb-3 text-md">{{user.roles[0].toUpperCase() + user.roles.slice(1)}}</p>
    <secondary-button class="text-xs mt-3 mb-2" (click)="toggleOpenInfo()" [text]="'Details'"></secondary-button>
  </div>

</div>

<app-user-info [open]="openInfo" [closeFunc]="toggleOpenInfo" [user]="user"></app-user-info>
