<nav class="navbar">
    <div class="container flex flex-wrap justify-between items-start mx-auto">
      <p routerLink='' class="flex items-center mt-2 hover:cursor-pointer">
          <icon path="./assets/logo.png" class="mr-3 sm:h-9 !w-10 !h-10"></icon>
          <span class="self-center text-xl font-semibold whitespace-nowrap ">Rocket</span>
      </p>
    <div class="md:flex gap-7 items-center w-4/6 md:w-auto">
      <div class="flex gap-4 md:order-2 justify-end">
        <primary-button *ngIf="!user" text="Login" (click)="toggleLogin()"></primary-button>
        <primary-button *ngIf="user" text="Logout" (click)="logout()"></primary-button>
        <button data-collapse-toggle="navbar-sticky" type="button"
                class="ml-5 inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                aria-controls="navbar-sticky" aria-expanded="false">
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
        <ul
          class="flex flex-col p-2 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white">
          <li *ngIf="hasRole('CLIENT')  || hasRole('DRIVER')">
            <p class="navbar-link" routerLink='profile'>Profile</p>
          </li>
          <li *ngIf="hasRole('ADMINISTRATOR')">
            <p class="navbar-link" routerLink='admin'>Profile & Administrative Panel</p>
          </li>
          <li *ngIf="user && hasRole('CLIENT')">
            <p class="navbar-link" routerLink='ride/book'>Book a ride</p>
          </li>
          <li *ngIf="user">
            <p class="navbar-link" routerLink='ride/current'>Current ride</p>
          </li>
          <li>
            <a class="navbar-link" href=''>Home</a>
          </li>
          <li *ngIf="user">
            <button (click)="togglePayPal()"><p class="navbar-link">PayPal</p></button>
          </li>
          <li *ngIf="!user">
            <a class="navbar-link" href='#pricing'>Pricing</a>
          </li>
          <li *ngIf="!user">
            <a class="navbar-link" href='#about'>About</a>
          </li>
          <li *ngIf="user">
            <p class="navbar-link" (mouseover)="toggleNotifications()" >Notifications</p>
          </li>

          <div *ngIf="showNotifications" (mouseleave)="toggleNotifications()" class="absolute w-96 h-48 top-16 right-44 bg-white z-50">
            <div *ngFor="let notification of notifications">
              <notification-list-item [notification]="notification" ></notification-list-item>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>

<login [open]="showLoginModal" [closeFunc]="toggleLogin" [openRegisterModal]="toggleRegister"></login>
<paypal class="!w-3/5" [open]="showPayPalModal" [closeFunc]="togglePayPal" ></paypal>
<register [open]="showRegisterModal" [closeFunc]="toggleRegister" [openLoginModal]="toggleLogin"></register>
