<section class="relative h-[70vh] mt-10 p-10 container flex items-center justify-center m-auto mb-12 bg-fixed bg-center bg-cover bg-statistics">
    <div  class="absolute opacity-75 w-full h-[70vh] bg-black"></div>
    <div class="flex justify-items-stretch z-50">
        <div class="flex flex-col items-center w-80">
            <icon path="./assets/icons/car.png" class="!w-32 !h-32"></icon>
            <hr class="w-full border-white my-3">
            <span class="dot"></span>
            <p class="counter text-white font-bold text-7xl px-8 pt-5 mb-4"> {{numberWithCommas(vehiclesNum)}} </p>
            <p class="text-white font-semibold text-xl px-8"> Special vehicles </p>
        </div>

        <div class="flex flex-col items-center w-80">
            <icon path="./assets/icons/road.png" class="!w-32 !h-32"></icon>
            <hr class="w-full border-white my-3">
            <span class="dot"></span>
            <p class="counter text-white font-bold text-7xl px-8 pt-5 mb-4"> {{numberWithCommas(tripsNum)}} </p>
            <p class="text-white font-semibold text-xl px-8"> Road Trips Done </p>
        </div>

        <div class="flex flex-col items-center w-80">
            <icon path="./assets/icons/plp-dropped.png" class="!w-32 !h-32"></icon>
            <hr class="w-full border-white my-3">
            <span class="dot"></span>
            <p class="counter text-white font-bold text-7xl px-8 pt-5 mb-4"> {{numberWithCommas(peopleNum)}} </p>
            <p class="text-white font-semibold text-xl px-8"> People Dropped </p>
        </div>

        <div class="flex flex-col items-center w-80">
            <icon path="./assets/icons/clients.png" class="!w-32 !h-32"></icon>
            <hr class="w-full border-white my-3">
            <span class="dot"></span>
            <p class="counter text-white font-bold text-7xl px-8 pt-5 mb-4"> {{numberWithCommas(clientsNum)}} </p>
            <p class="text-white font-semibold text-xl px-8"> Satisfied Clients </p>
        </div>

        
       
    </div>
</section>

