<div class=" p-6 m-6 border-solid border-black border-1 rounded-lg">
  <div class="flex flex-col rounded-lg">
    <div class="flex flex-row items-center gap-x-4 bg-secondary-dark p-3 rounded-t-lg">
      <img *ngIf="loggedAdmin" [src]="loggedAdmin.profilePicture || 'assets/profile-placeholder.png'"
           alt="profile picture"
           class="rounded-full h-16 w-16 shadow-xs shadow-grey-500/50">
      <div class="flex flex-col text-white">
        <p>{{loggedAdmin?.firstName + " " + loggedAdmin?.lastName}}</p>
        <p class="text-xs">{{loggedAdmin?.email}}</p>
      </div>
    </div>
    <div class="flex flex-row " style="height: 600px">
      <div
        class="pt-2 w-1/4 bg-white  rounded-bl-lg border-solid border-2 border-secondary-dark">
        <div *ngIf="users.length>0" class="scroll-smooth snap-y overflow-y-auto flex flex-col gap-2">
          <div *ngFor="let user of users" (click)="getMessagesWith(user.email)"
               class="flex flex-row items-center gap-x-4 bg-white shadow-lg p-3 rounded-lg mx-2 border-1 border-solid border-gray-700">
            <img [src]="user.profilePicture" alt="profile-picture" class="rounded-full h-10 w-10">
            <div class="flex flex-col">
              <p>{{user.firstName+" "+user.lastName}}</p>
              <p class="text-xs">{{user.email}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-3/4 bg-white rounded-br-lg relative rounded-br-lg border-solid border-2 border-secondary-dark border-l-0">
        <div  class="overflow-y-auto overflow-x-hidden snap-y flex flex-col gap-3 mx-2 my-4 h-5/6">
          <div *ngFor="let message of messages">
            <div [ngClass]="message.sender===loggedAdmin?.email?'sender_chat_bubble':'receiver_chat_bubble'">
              <p
                style="overflow-wrap: break-word;white-space: pre-wrap;text-overflow: ellipsis;">{{message.message}}</p>
              <p class="text-xs text-right">{{prettyPrintDate(message.sentAt)}}</p>
            </div>
          </div>
        </div>
        <hr>
        <div
          class=" rounded-full bg-white absolute bottom-0 my-1 py-2 px-6 w-full flex flex-row ">
          <input type="text" [(ngModel)]="message"
                 class="w-full block text-sm bg-transparent border-0 border-b-2 border-tertiary-medium appearance-none focus:outline-none focus:ring-0 focus:border-secondary-light peer">
          <button class="mx-4" (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
