<div class="mt-16 px-40 flex flex-col gap-12">
  <app-title header="FIND US" title="Cities where we offer our services"></app-title>
  <div class="w-full flex justify-between gap-16 p-5">
    <location-card city="Novi Sad"
                   text="The second largest city in Serbia and the capital of the autonomous province of Vojvodina. Novi Sad is home for 367,121 inhabitants."></location-card>
    <location-card city="Beograd"
                   text="The capital and largest city of Serbia. It is located at the confluence of the Sava and Danube rivers and at the crossroads of the Pannonian."></location-card>
    <location-card city="Vrašabanin"
                   text="The best city in Serbia. Located in three locations all over country. With over two residents and very rich culture. Drivers have many vehicles."></location-card>
  </div>
</div>
