<div class="mt-16 px-40 flex flex-col gap-12">
  <app-title header="FIND US" title="Cities where we offer our services"></app-title>
  <div class="w-full flex justify-between gap-16 p-5">
    <location-card city="Novi Sad"
                   text="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et dolor maiores explicabo quidem, eligendi error ratione deleniti eum necessitatibus expedita a quos!"></location-card>
    <location-card city="Beograd"
                   text="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et dolor maiores explicabo quidem, eligendi error ratione deleniti eum necessitatibus expedita a quos!"></location-card>
    <location-card city="Vrašabanin"
                   text="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et dolor maiores explicabo quidem, eligendi error ratione deleniti eum necessitatibus expedita a quos!"></location-card>
  </div>
</div>
