<div class="flex flex-col">
    <span>
        <button (click)="initSockets()" style="width: 100px; height: 100px; background-color: green;">Inicijalizuj</button>
        <button (click)="sendMessage()" style="width: 100px; height: 100px; background-color: yellow;">Posalji poruku</button>
    </span>
    
    <banner></banner>
    <calculate-info></calculate-info>
    <word-ceo></word-ceo>
    <statistics></statistics>
    <about></about>

</div>
<toast-error message="Payment was not successful" [open]="openErrorToast" [closeFunc]="toggleErrorToast"></toast-error>
<toast-success message="Payment was successful!" [open]="openSuccessToast" [closeFunc]="toggleSuccessToast"></toast-success>



