<div *ngIf="show()" class="flex w-full gap-3 justify-evenly my-3">
  <div class="flex gap-2 items-center">
    <img src="./assets/icons/meter-yellow.png" class="!w-5 !h-5"/>
    <p class="font-semibold text-sm">{{distanceOutput()}}</p>
  </div>
  <div class="flex gap-2 items-center">
    <img src="./assets/icons/estimated-time-yellow.png" class="!w-5 !h-5"/>
    <p class="font-semibold text-sm">{{timeOutput()}}</p>
  </div>
  <div class="flex gap-2 items-center">
    <img src="./assets/icons/price-yellow.png" class="!w-5 !h-5"/>
    <p class="font-semibold text-sm">{{priceOutput()}}</p>
  </div>
</div>
