<div *ngIf="role === 'CLIENT'" class="absolute right-3 top-3 flex gap-3">
  <button-icon *ngIf="rideId !== -1 && rideId !== undefined && hasRole('CLIENT')" [fillButton]="isFavorite" icon="./assets/icons/favorite.png" (click)="markAsFavorite()"
               [text]="'Mark route as favorite'"></button-icon>
  <button-icon *ngIf="driverId !== '' && rideStatus !== 'CONFIRMED'" icon="./assets/icons/exclamation-mark.png" text="Report driver"
               (click)="toggleReportModal()"></button-icon>
  <button-icon *ngIf="hasRole('DRIVER')" (click)="toggleCancelModal()" icon="./assets/icons/cancel.png" text="Cancel ride"></button-icon>

  <cancel-ride [open]="openCancelModal" [closeFunc]="toggleCancelModal" [rideId]="rideId"></cancel-ride>

  <report-driver [open]="openReportModal" [closeFunc]="toggleReportModal" [driver]="driverName!" [driverId]="driverId!"></report-driver>
</div>
<div *ngIf="role==='DRIVER'" class="absolute right-3 top-3 flex gap-3">
  <secondary-button *ngIf="rideStatus === 'CONFIRMED'" id="start-ride-button" [text]="'Start ride'" (click)="startRide()"></secondary-button>
  <secondary-button *ngIf="rideStatus === 'STARTED'" id="end-ride-button" [text]="'End ride'" (click)="endRide()"></secondary-button>
  <button-icon *ngIf="rideStatus === 'CONFIRMED'" (click)="toggleCancelModal()" icon="./assets/icons/cancel.png" text="Cancel ride"></button-icon>
  <cancel-ride [open]="openCancelModal" [closeFunc]="toggleCancelModal" [rideId]="rideId"></cancel-ride>
</div>
